*{
    margin:0;
    padding:0;  
    box-sizing:border-box;
}
div.heading{
    position: relative;
    background-color:white ;
    height: 350px ;
}
.heading_main{
    text-align: center;
    font-family: "Monotype Corsiva", cursive;
    position:absolute;
    top:50%;
    left:50%;
    color:black;
    font-weight:bolder; 
    font-size: 45px;
    transform: translate(-50%, -50%); 
}
.wallpaper{
    width:100%;
    height:100%;
    filter:blur(2px);
    border-radius: 2px;
}
.details{
    display: flex;
    gap:5px;
    padding:20px;
  
}
.about-content-img{
    width:50%;
    height: 750px; 
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding: 30px 0;
}
.chef{
    width:100%;
    object-fit: cover;
    text-align: center;
    max-width: 550px;
    height: auto;
}
.about-content{
    width:450px;
    height: 750px;
    font-size:16px;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.196);
 
}
.abut-us-heading{
    text-align: center;
    padding:20px;
    font-size:38px;;
    font-family: Lucida Handwriting , Apple Chancery , Brush Script;
    font-weight: bold;
    margin:0 auto;
    padding-top: 5px;
}
.para{
    line-height: 35px;
}
.display{
    background-color: rgb(246, 191, 90);
    padding:20px;
}
.block {
    padding: 0px 24px 24px;
    background-color:#d0d9e03c;
    box-shadow: 0 0 6px rgba(39, 39, 39, 0.196);
    border-radius: 8px;
    width:65%;
    justify-content: space-between;
    position: relative; 
    margin: 20px auto;
}

.test-container {
    margin: 30px;
    text-align: center;     
}
.test-img{
    width: 100px;
    border-radius: 50%;
    position: relative;
    top: -60px;
}
.test-text {
    text-indent: 20px;
    font-size: 16px; 
}
.test-name {
    color: #2F2E2E;
    text-align: right;
    font-weight: bold;
    margin-top: 14px;
}
