@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
}
/* admin css*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    /* padding-bottom: 5rem; */
}
 
section{
    padding:2rem;
}
.option-btn,
.delete-btn,.btn{
   display: block !important;
   /* width: 50% !important; */
   text-align: center !important;
   background-color: orange !important;
   color:white !important;
   font-size: 1.7rem !important;
   padding:0.5rem 3rem !important;
   border-radius: .5rem;
   cursor: pointer !important;
   margin-top: 1rem !important;
   border:none !important;
}
.add-product-form .btns{
   display: block;
   width: 50%; 
   text-align: center;
   margin: 1rem auto; 
   background-color: orange !important;
   color:white !important;
   font-size: 1.7rem !important;
   padding:0.5rem 3rem !important;
   border-radius: .5rem;
}
.butns{
   display: flex;
   flex-direction: column;
   justify-content:center;
   gap:1rem;
   margin-top: 1rem;

}

.option-btn:hover,
.delete-btn:hover,.btn:hover{
   background-color: orange !important;
   color:black !important;
}

.option-btn i,
.delete-btn i{
   padding-right: .5rem !important;
}

.option-btn{
   background-color:orange !important;
}
.delete-btn{
   margin-top: 0;
   background-color: red !important;
}

.add-product-form{
    max-width: 50rem;
    background-color: #eee;
    border-radius: 0.5rem;
    padding:2rem;
    margin:0 auto;
    margin-top:2rem;
}
.add-product-form h3{
    font-size:2rem;
    margin-bottom: 1rem;
    color:black;
    text-transform: uppercase;
    text-align: center;
}
.add-product-form .box{
    text-transform: none;
    padding:1.2rem 1.4rem;
    font-size: 1.5rem;
    color:black;
    border-radius: .5rem;
    background-color: white;
    margin:1rem 0;
    width: 100%;
}


/*admin head CSS*/
.head{
    background-color: /*#e2e7eb3c*/white;
    box-shadow: 0 4px 6px rgba(255, 166, 1, 0.1);
    border-radius: 8px;
    position: sticky;
    top:0; left:0;
    z-index: 1000;
}
.head .flex{
    display: flex;
    align-items: center;
    padding:1.5rem 2rem;
    max-width: 1200px;
    margin:0 auto;
}

.head .flex .logo{
    margin-right: auto;
    font-size: 2.5rem;
    color:black;
}
 
.head .flex .navbar a{
    margin-left: 2rem;
    font-size: 2rem;
    color:black;
}
.head .flex .navbar a:hover{
    color:orange;
 }

.head .flex .cart{
    margin-left: 2rem;
    font-size: 2rem;
    color:black;
}
 
.head .flex .cart:hover{
    color:orange;
}
.head .flex .cart span{
    padding:.1rem .5rem;
    border-radius: .5rem;
    background-color: orange;
    color:white;
    font-size: 2rem;
}

#menu-btn{
    margin-left: 2rem;
    font-size: 3rem;
    cursor: pointer;
    color:black;
    display: none;    
}


/* how to display message*/
.message{
   background-color: orange;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 10000;
   border-radius: .5rem;
   padding: 1.5rem 2rem;
   margin: 0 auto;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
   font-size: 1.5rem!important;
 }

 .message span{
    font-size: 2rem !important;
    color:black;
    background-color: orange;
 }
 
 .message i{
    font-size: 2rem;
    color:black;
    cursor: pointer;
 }
 
 .message i:hover{
    color:red;
 }
/*table design display*/

.display-product-table table{
    width: 80%;
    margin: 0 auto;
    text-align: center;
 }
 
.display-product-table table thead th{
    padding:1.5rem;
    font-size: 1.5rem;
    background-color: rgba(255, 166, 0, 0.638);
    color:black;
    border:2px solid white;
 }
 
 .display-product-table table td{
    padding:1.5rem;
    font-size: 1.5rem;
    color:black;
 }
 
 .display-product-table table td:first-child{
    padding:0;
 }
 
 .display-product-table table tr:nth-child(even){
    background-color: #eee;
 }
 
 .display-product-table .empty{
    margin-bottom: 2rem;
    text-align: center;
    background-color: #eee;
    color:black;
    font-size: 1.5rem;
    padding:1.5rem;
 }
 
/*edit form container CSS*/

.edit-form-container{
    position: fixed;
    top:0; left:0;
    z-index: 1100;
    background-color: rgba(0,0,0,.7);
    padding:2rem;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
 }
 
 .edit-form-container form{
    width: 50rem;
    border-radius: .5rem;
    background-color: white;
    text-align: center;
    padding:2rem;
 }
 
 .edit-form-container form .box{
    width: 100%;
    background-color:#eee;
    border-radius: .5rem;
    margin:1rem 0;
    font-size: 1.5rem;
    color:black;
    padding:1.2rem 1.4rem;
    text-transform: none;
 }

/*Products page*/

.heading{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color:black;
    margin-bottom: 2rem;
 }

 .products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap:1.5rem;
    justify-content: center;
 }
 
 .products .box-container .box{
    text-align: center;
    padding:2rem;
    box-shadow:0.5rem 1rem rgba(0,0,0,.1);
    border:0.1rem solid #999;;
    border-radius: 0.5rem;
 }
 
 .products .box-container .box img{
    height: 25rem;
 }
 
 .products .box-container .box h3{
    margin:1rem 0;
    font-size: 2.5rem;
    color:black;
 }
 
 .products .box-container .box .price{
    font-size: 2.5rem;
    color:black;
 }
/*shoopinh cart css*/

.shopping-cart table{
    text-align: center;
    width: 100%;
 }
 
 .shopping-cart table thead th{
    padding:1.5rem;
    font-size: 2rem;
    color:white;
    background-color: black;
 }
 
 .shopping-cart table tr td{
    border-bottom: 0.1rem solid #999;
    padding:1.5rem;
    font-size: 2rem;
    color:black;
 }
 
 .shopping-cart table input[type="number"]{
    border:0.1rem solid #999;
    padding:1rem 2rem;
    font-size: 2rem;
    color:black;
    width: 10rem;
 }
 
 .shopping-cart table input[type="submit"]{
    padding:.5rem 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: orange;
    color:white;
    border-radius: 0.5rem;
 }
 
 .shopping-cart table input[type="submit"]:hover{
    background-color:black;
 }
 
 .shopping-cart table .table-bottom{
    background-color: #eee;
 }
 
 .shopping-cart .checkout-btn{
    text-align: center;
    margin-top: 1rem;
 }
 
 .shopping-cart .checkout-btn a{
    display: inline-block;
    width: auto;
 }
 
 .shopping-cart .checkout-btn a.disabled{
    pointer-events: none;
    opacity: .5;
    user-select: none;
    background-color: red;
 }

/*checkout CSS*/
.checkout-form form{
    padding:2rem;
    border-radius: .5rem;
    background-color: #eee;
 }
 
 .checkout-form form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
 }
 
 .checkout-form form .flex .inputBox{
    flex:1 1 40rem;
 }
 
 .checkout-form form .flex .inputBox span{
    font-size: 2rem;
    color:black;
 }
 
 .checkout-form form .flex .inputBox input,
 .checkout-form form .flex .inputBox select{
    width: 100%;
    background-color: white;
    font-size: 1.7rem;
    color:black;
    border-radius: .5rem;
    margin:1rem 0;
    padding:1.2rem 1.4rem;
    text-transform: none;
    border:0.1rem solid #999;
 }

/*check out display total css*/

.display-order{
    max-width: 50rem;
    background-color: white;
    border-radius: .5rem;
    text-align: center;
    padding:1.5rem;
    margin:0 auto;
    margin-bottom: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:0.1rem solid #999;
 }
 
 .display-order span{
    display: inline-block;
    border-radius: .5rem;
    background-color: #eee;
    padding:.5rem 1.5rem;
    font-size: 2rem;
    color:black;
    margin:.5rem;
 }
 
 .display-order span.grand-total{
    width: 100%;
    background-color: red;
    color:white;
    padding:1rem;
    margin-top: 1rem;
 }
 
 .order-message-container{
    position: fixed;
    top:0; left:0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    background-color: rgba(0,0,0,.7);
    width: 100%;
 }
 
 .order-message-container::-webkit-scrollbar{
    width: 1rem;
 }
 
 .order-message-container::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,.7);
 }
 
 .order-message-container::-webkit-scrollbar-thumb{
    background-color: orange;
 }
 
 .order-message-container .message-container{
    width: 50rem;
    background-color: white;
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
 }
 
 .order-message-container .message-container h3{
    font-size: 2.5rem;
    color:black;
 }
 
 .order-message-container .message-container .order-detail{
    background-color: #eee;
    border-radius: .5rem;
    padding:1rem;
    margin:1rem 0;
 }
 
 .order-message-container .message-container .order-detail span{
    background-color:white;
    border-radius: .5rem;
    color:black;
    font-size: 2rem;
    display: inline-block;
    padding:1rem 1.5rem;
    margin:1rem;
 }
 
 .order-message-container .message-container .order-detail span.total{
    display: block;
    background: red;
    color:white;
 }
 
 .order-message-container .message-container .customer-details{
    margin:1.5rem 0;
 }
 
 .order-message-container .message-container .customer-details p{
    padding:1rem 0;
    font-size: 2rem;
    color:black;
 }
 
 .order-message-container .message-container .customer-details p span{
    color:orange;
    padding:0 .5rem;
    text-transform: none;
 }

 


/* media queries*/

@media (max-width:1200px){

    .shopping-cart{
       overflow-x: scroll;
    }
 
    .shopping-cart table{
       width: 120rem;
    }
 
    .shopping-cart .heading{
       text-align: left;
    }
 
    .shopping-cart .checkout-btn{
       text-align: left;
    }
 
 }
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
  #menu-btn{
display: inline-block;
 transition: .2s linear;
}
 
    #menu-btn.fa-times{
       transform: rotate(180deg);
    }
 
.head .flex .navbar{
    position: absolute;
    top:99%; 
    left:0; 
    right:0;
    background-color: orange;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: .2s linear;
    }
 
 .head .flex .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
 
.head .flex .navbar a{
       margin:2rem;
       display: block;
       text-align: center;
       font-size: 2.5rem;
    }


    .display-product-table{
       overflow-x: scroll;
    }
 
    .display-product-table table{
       width: 90rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .heading{
       font-size: 3rem;
    }
 
    .products .box-container{
       grid-template-columns: 1fr;
    }
 }
 
 

 