*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.treat img{
    width:100%;
    height:100%;
    border-radius: 2px;
}
.treat p{
    text-align: center;
    font-family: "Monotype Corsiva", cursive;
    position:absolute;
    top:50%;
    left:50%;
    color:black;
    font-weight:bolder; 
    font-size: 45px;
    transform: translate(-50%, -50%); 
    color: black;

}
.treat{
    position: relative;
    background-color:white;
    height: 350px;
}
.reports{
    background-color: rgb(255, 209, 124);
    padding: 5px;
}
.reports div{
    display: flex;
    width:95%;
    margin: 10px  auto;
    justify-content: space-evenly;
    align-items:center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    height:200px;
    background-color: rgb(255, 234, 195);
    border-radius:10px;
}
.reports h1{
    text-align: center;
    font-family:  "Monotype Corsiva", cursive;
    font-size: 40px;
    font-weight: bold;
}
.display-report{
    border-radius: 10px;
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius:10px;
    padding: 10px;
}


.display-report:hover{
    transform: scale(1.2) ;
    background-color: rgb(255, 234, 195);

}
.pop{
    background-color:rgb(255, 234, 195);
    width:300px;
    height:350px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 1.5s ease;
    border-radius:10px;
}
