*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}

.background{
    position: relative;
    width: 100%;
    height: 100vh;
}
.sourbread{
    width:100%;
    height: 700px;
    object-fit: cover;
}
.content-container{
    height: 550px;
    width:90%;
    max-width: 400px;
    padding:10px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%); 
    border:1px solid orange;
    margin:0 auto;
    border-radius: 5px;

}
.head-main{
    font-size:30px;
    font-family: "Monotype Corsiva", cursive;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;

}
.openings{
    padding:0 20px;
    text-align: center;
    font-size:18px;
}
.contact-form{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:0 auto;
    font-size:16px;
    padding: 10px;
    border-radius: 5px;
}
.contact_type,textarea{
    background-color:rgba(255,255,255,0.6);
    border:orange 2px solid;
    padding: 0 5px;
    border-radius: 3px;
}
textarea{
color:rgb(113, 112, 112);
}
.submit-form{
    border:none;
    padding:5px;
    background-color: orange;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Lucida Sans;   
}
.location{
    display: flex;
    width:100%;
    background-color: rgb(246, 191, 90)
}
.contact-details{
    width:40%;
    padding:30px;
    height:250px;
    margin:auto 50px;
    text-align: center;
    box-shadow:0 0 6px rgba(0, 0, 0, 0.6);
    background-color: transparent;
    border:10px;
    
}
.located{
    width:60%;
    padding:30px;
    background-color: rgb(246, 191, 90)
}

.detial-contact {
    list-style:none;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.detial-contact i{
    color:black;
    font-size: 20px;
}
.detial-contact-p{
    color:black;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
}
/*message*/

.message{
   background-color: orange;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 10000;
   border-radius: .5rem;
   padding: 1.5rem 2rem;
   margin: 0 auto;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
 }

 .message span{
    font-size: 2rem;
    color:black;
    background-color: orange;
 }
 
 .message i{
    font-size: 2rem;
    color:black;
    cursor: pointer;
    
 }
 
 .message i:hover{
    color:red;
}