*{
    margin:0;
    padding:0;  
    box-sizing:border-box;
}
body{
    background-color: #e0e0e0;
}
div.heading{
    position: relative;
    background-color:white;
    height: 350px;
       
}
.main_heading{
    text-align: center;
    font-family: "Monotype Corsiva", cursive;
    position:absolute;
    top:50%;
    left:50%;
    color:black;
    font-weight:bolder; 
    font-size: 45px;
    transform: translate(-50%, -50%); 
}
.wallpaper{
    width:100%;
    height:100%;
    filter:blur(2px);
    border-radius: 2px;
}
/*message display*/
/* how to display message*/

.message{
    background-color: orange;
    position: sticky;
    top:0; left:0;
    z-index: 10000;
    border-radius: .5rem;
    padding:1.5rem 2rem;
    margin:0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
}

.message span{
    font-size: 2rem;
    color:black;
}
 
.message i{
    font-size: 2.5rem;
    color:black;
    cursor: pointer;
}
 
.message i:hover{
    color:red;
}

 /*Products body*/
.heading1{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color:black;
    margin-bottom: 2rem;
}

.products .box-container{
    display: grid;
    grid-template-columns:  repeat(3, 1fr); 
    gap:1.5rem;
    justify-content: center;
    padding:10px 10px;
}
 
.products .box-container .box{
    text-align: center;
    padding:2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    height: 35rem;
    
}
 
.products .box-container .box img{
    height: 18rem;
    width:20rem;
}
 
.products .box-container .box h3{
    margin:1rem 0;
    font-size: 1.5rem;
    color:black;
    text-transform: capitalize;
}
 
.products .box-container .box .price{
    font-size: 1.5rem;
    color:black;
}

.btn_add_to_cart {
    display: inline-block;
    background-color: orange; 
    color: #ffffff; 
    border: none; 
    padding: 10px 20px; 
    font-size: 14px;
    border-radius: 5px; 
    cursor: pointer; 
    text-transform: capitalize;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add smooth transitions */
}

.btn_add_to_cart:hover {
    background-color:rgb(221, 143, 0); 
    transform: scale(1.05); /*zoom effect */
}

.btn_add_to_cart:active {
    transform: scale(0.95); /*smaller when clicked */
}
@media (max-width: 768px) {
    .products .box-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* For very small screens */
@media (max-width: 480px) {
    .products .box-container {
        grid-template-columns: 1fr; 
    }
}