* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

.delete_btn {
    display: inline-flex;  
    align-items: center;   
    justify-content: center; 
    gap: 0.5rem; 
    width: auto; 
    background-color: red;
    color: white;
    font-size: 1.7rem;
    padding: 1.2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 0;
    text-align: center;
 }
.delete_btn:hover{
   background-color: orange;
   color:black;
}

.delete_btn i{
    padding-right: 0.5rem;
    font-size: 1.5rem;
}


table{
    width: 85%;
    margin:0 auto;
    text-align: center;
    
}
 
table thead th{
    padding:1.5rem;
    font-size: 1.5rem;
    background-color:rgba(255, 166, 0, 0.638);
    color:white;
    border:2px white solid;
}
 
table td{
    padding:1.5rem;
    font-size: 1.5rem;
    color:black;
    border:3px white solid;
 }
 
table td:first-child{
    padding:0;
}
 
table tr:nth-child(even){
    background-color: #eee;
}
.op_content{
    margin: 4rem;
}
.op_content .empty{
    margin-bottom: 2rem;
    text-align: center;
    background-color: #eee;
    color:black;
    font-size: 1.5rem;
    padding:1.5rem;
}
input[type="checkbox"]{
    width: 20px;
    height: 30px;
    margin:0 auto;
}
.op_content h2{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color:black;
    margin-bottom: 2rem;
}
/* how to display message*/
.message{
    background-color: orange;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 10000;
   border-radius: .5rem;
   padding: 1.5rem 2rem;
   margin: 0 auto;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

.message span{
    font-size: 2rem;
    color:black;
    background-color: orange;
}
 
.message i{
    font-size: 2rem;
    color:black;
    cursor: pointer;
}
 
.message i:hover{
    color:red;
}