body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.report-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.report-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th {
    background-color: orange;
    color: white;
    padding: 12px 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 1.5rem;
    color: #333;
}


tr:hover {
    background-color: #f5f5f5;
}


tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}


.empty {
    text-align: center;
    font-style: italic;
    color: #888;
}

button {
    background-color:orange;
    color: white;
    padding: 12px 20px;
    font-size: 1.5rem !important;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
    margin-top: 20px !important;
    display: block;
    width: 100%;
    max-width: 200px;
    margin-left: auto !important;
    margin-right: 10px !important;
    display: inline !important;
    
}

button:hover {
    background-color: orange;
}

@media (max-width: 768px) {
    .report-container {
        width: 90%;
    }

    table, th, td {
        font-size: 0.9rem;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .report-container {
        width: 95%;
    }

    table, th, td {
        font-size: 0.8rem;
    }
}
