body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.report-container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

.summary-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
}

.card h3 {
    margin: 0;
    color: #555;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 0;
}

button {
    background-color:orange;
    color: white;
    padding: 12px 20px;
    font-size: 1.5rem !important;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
    margin-top: 20px !important;
    display: block;
    width: 100%;
    max-width: 200px;
    margin-left: auto !important;
    margin-right: auto !important;
}

button:hover {
    background-color: orange;
}
.cancelled h3 {
    color:red;
}
