body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.order-history-content {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: orange;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.product-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
} */

.product-images {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px; 
    margin: 0;
    padding: 0;
}

.product-images img {
    width: 120px; 
    height: 120px; 
    display: block; 
    margin: 0; 
}

.empty {
    text-align: center;
    color: #888;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

